[defaults]
# Приватный ключ, с которым Ansible будет подключаться к удаленной системе
private_key_file = ../vagrant/.vagrant/machines/default/virtualbox/private_key

# При отладки плэйбука часто приходится разворачивать виртуальную машину заново
# на том же IP. Чтобы при подключении по ssh игнорировать предупрежедния, 
# раскомментируйте эту сроку. Для рабочего этого лучше не делать.
#host_key_checking = False